<li>
	{{burger_name}}

	<button class="change-taken" data-id="{{id}}" data-newtaken="{{taken}}">
		{{#if taken}}CLAIM ME!{{else}}PUT ME BACK{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>


